mat-card {
  width:200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

mat-icon {
   cursor: pointer;
}

.icon-item-title{
  cursor: pointer;
}

.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.top-left {
  background-color: #e7e7e7;
  -webkit-align-self: flex-start;
   align-self: flex-start;
}

.top-right {
  margin-left: auto;
  padding: 5px;
}

.header-left {
  -webkit-align-self: flex-start;
   align-self: flex-start;
   padding: 5px;
}

.header-right {
  margin-left: auto;

}

.btn-work {
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  background-color: #e7e7e7;
  color: black;
  font-size: 12px;
  height:3px;
  width:50%;
}

.scrollableContent {
padding:1px;

  height: 70px;
  margin: 0em;
  overflow-y: auto;
}
